dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*

node_modules

/generated/
lam4-frontend/generated/

*.old
*.vsix
lam4-backend/src/Lam4/Expr/notes
lam4-backend/src/Lam4/Expr/scratchpad
.env
examples/private/